/* Navigation Bar */

nav a:hover{
  opacity: 0.5;
  border-bottom: solid;
  border-width: 2px;
  margin: 0px;
  padding-bottom: 2px;
}

#nav-font-family{
    font-family: Georgia, serif;
    font-size: 18px;
}

#nav-color{
    color: black;
}

.active a {
	border-bottom: solid;
  border-width: 2px;
  padding-bottom: 2px;
}

.dropdown-menu{
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
}

/* End of Navigation Bar */
