/* Navigation Bar */
.navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

nav a:hover{
	transition: font-size 1s;
	font-size: 1.1em;
}

#nav-font-family{
    font-family: Georgia, serif;
    font-size: 18px;
}

#nav-color{
    color: black;
}

.active a {
	border-bottom: solid;
    border-width: 2px;
}
